$color-information: #a87ca0;
$color-link: #06c;
$color-link-visited: #06c;

@import 'vanilla-framework/scss/vanilla';
@include vanilla;

.p-card.blog-card {
    padding: calc(1rem - 1px);
    overflow: auto;
    flex-direction: column;
}
.p-card.blog-card h4.tag-name {
    font-size: 1.1rem;
}

.p-card__content.post-title {
    font-weight: 300;
    font-size: 1.4rem;
    line-height: 2.2rem;
}

.card-bottom {
    margin-top: auto;
}

.card-bottom h4 {
    font-size: 1.0rem;
    margin-bottom: 0.051rem;
    padding-top: 0.95rem;
}